<div class="row">
  <div class="col-md-3">
    NUMBER
  </div>
  <div class="col-md-3">
    COMPLETED AT
  </div>
  <div class="col-md-3">
    TOTAL
  </div>
</div>
<% orders.each do |order| %>
<div class="row">
  <div class="col-md-3">
    <%= link_to order.id, order_path(order) %>
  </div>
  <div class="col-md-3">
    <%= order.completed_date %>
  </div>
  <div class="col-md-3">
    <%= number_to_currency(order.total_price) %>
  </div>
  <div class="col-md-2">
    <%= link_to "View", order_path(order) %>
  </div>
</div>
<% end %>