<%= form_for :order_item, url: order_items_path, method: :post, class: "form-inline" do |f| %>
    <div class="col-md-6">
      <%= f.number_field :quantity, value: 1, within: 1..100, class: "form-control addBook_quantity" %>
    </div>
      <%= f.hidden_field :book_id, value: book.id %>
    <div class="col-md-3">
      <%= f.submit "ADD ITEM", class: "btn btn-info"%>
    </div>
<% end %>
