<div class="row">
  <div class="col-md-9">
      Shop
  </div>
  <div class="col-md-3">
      SHOP BY CATEGORIES
  </div>
</div>

<div class="row">
  <%= render @books %>
</div>
<%= paginate @books %>


