<div class="row">
  <div class="col-md-6">
    <h1><%= @book.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src='#{@book.image}'></img>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong><%= @book.price %> $</strong>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <%= link_to "ADD TO CART", add_to_order_book_path(@book), method: :post %>
    </div>
  <div class="row">
    <div class="col-md-6">
      <%= @book.description %>
    </div>
  </div>
</div>

