<div class="row">
  <div class="col-md-2">
    Checkout
  </div>
  <div class="col-md-1 col-md-offset-1">
  ADDRESS
  </div>
  <div class="col-md-1">
    DELIVERY
  </div>
  <div class="col-md-1">
    PAYMENT
  </div>
  <div class="col-md-1">
    <%= link_to "CONFIRM", '#' %>
  </div>
  <div class="col-md-1">
    COMPLETE
  </div>
</div>