// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.row {
  padding-top: 10px;
}


.header {
  margin-bottom: 30px;
}

.fa.fa-shopping-cart {
  font-size: 12px;
}

.categories_header {
  font-size: 13px;
}

.store_name {
  font-size: 20px;
}

