// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  &.notice {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
    }
  .alert {
    background-color: #FF6565;
    border-color: #8a1f11;
    color:  #b94a48;
  }
}
