// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
background-color: #DFF0D8;
border-color: #D6E9C6;
color: #3C763D;
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}
.alert {
background-color: #FFCECE;
border-color: #8a1f11;
color:  #FF6565;
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}


.row {
  margin: 15px;
}

.header {
  margin-bottom: 30px;
}

.fa.fa-shopping-cart {
  font-size: 12px;
}

.categories_header {
  font-size: 13px;
}

