<div class="row">
  <div class="col-md-9">
    <%= @category.title %>
  </div>
  <div class="col-md-3">
      SHOP BY CATEGORIES
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <% @category_books.each do |book| %>
      s<%= render "books/book", book: book %>
    <% end %>
  </div>
<%= render "categories" %>
</div>

<%= paginate @category_books %>
